$fontFam_uqReg: UniqloProRegular,
"Helvetica Neue",
Helvetica,
Arial,
sans-serif;

$fontFam_uqBold: UniqloProBold,
"Helvetica Neue",
Helvetica,
Arial,
sans-serif;

$fontFam_hel: "Helvetica Neue",
Helvetica,
Arial,
sans-serif;

// FULL WIDTH SPECIFICITY
// 
.pt_primary #main .primary-content  {
  #exFeat {
    * {
      box-sizing: border-box;
    }
    img {
      display: block;
      max-width: none;
      max-height: none;
    }
    h2 {
      border-bottom: none;
    }
    .exFunctions {
      position: relative;
    }
    .exFunctRow {
      display: flex;
      justify-content: space-around;
      position: absolute;
      bottom: 0;
      color: #f6ff00;
      h3 {
        text-transform: uppercase;
      }
    }
    .exCollect {
      .exHeader {
          display: flex;
          justify-content: center;
          align-items: center;
      }
      .exHedCpy {
        width: 30%;
        background: #f6ff00;
      }
    }
  }
}


// // SIDEBARRED SPECIFICITY
// // 
// #main .primary-content .product-grid-slider .content-second-slot.category-banner-slot {

// }

